@using Kooboo.CMS.Content.Query.Expressions;

<div class="list-news">
  @if(ViewBag.NewsCategory != null)
  {
  	var category = ContentHelper.TextFolder("News~NewsCategory").CreateQuery().Where("ParentUUID", ViewBag.NewsCategory.UUID).OrderBy("SortBy");
    if(category != null && category.Any())
  	{
      foreach(var cate in category)
      {
        IWhereExpression exp = new TrueExpression();
        exp = new AndAlsoExpression(exp, new WhereEqualsExpression("Published", true));
        
        exp = new AndAlsoExpression(exp, new WhereCategoryExpression(ContentHelper.TextFolder("News~NewsCategory").CreateQuery().WhereEquals("UUID", cate.UUID)));
        
        var news = ContentHelper.TextFolder("News~News").CreateQuery().Where(exp).OrderByDescending("Date").Take(11);
        if(news != null && news.Any())
        {
          var bigNews = news.FirstOrDefault();
          var listNews = news.Skip(1);
          <div class="title-news-page">
            <a href="@cate.Url" class="top-news flLeft">@cate.Name</a>
          </div>
          
          <div class="big-news">
            <div class="row row-fix">
              
              @if(bigNews != null && bigNews.Any()){
                <div class="col-lg-6 col-md-9 col-sm-12 col-fix">
                    <div class="main-news">
            
                        <div class="main-news">
                            <div class="img-main-news">
                                <a href="@Url.FrontUrl().PageUrl("tin-tuc/chi-tiet", new{ UserKey = bigNews["Url"] })">
                                    <img src="@bigNews["Thumbnail"]">
                                </a>
                            </div>
                            <a href="@Url.FrontUrl().PageUrl("tin-tuc/chi-tiet", new{ UserKey = bigNews["Url"] })" class="tit-main-news">@bigNews["Title"]</a>
                            <div class="des-main-news">@bigNews["Description"]</div>
                        </div>
            
                    </div>
                </div>
              }
              @if(listNews != null && listNews.Any()){
                <div class="col-lg-6 col-md-9 col-sm-12 col-fix border-rb">
                  @foreach(var item in listNews){
                    <div class="news-second">
                        <div class="img-news-second flLeft">
                          <a href="@Url.FrontUrl().PageUrl("tin-tuc/chi-tiet", new{ UserKey = item["Url"] })">
                            <img src="@item["Thumbnail"]" >
                          </a>
                        </div>
                        <a href="@Url.FrontUrl().PageUrl("tin-tuc/chi-tiet", new{ UserKey = item["Url"] })" class="tit-news-second">@item["Title"]</a>
                    </div>
                  }                  
                </div>
              }
              
            </div>
          </div>
        }
          
      }
    }
    
  } 
</div>