
@using Kooboo.CMS.Content.Models;
@using Kooboo.CMS.Content.Query;
@{
    var schema = (Kooboo.CMS.Content.Models.Schema)ViewData["Schema"];
    var allowedEdit = (bool)ViewData["AllowedEdit"];
    var allowedView = (bool)ViewData["AllowedView"];
    var workflowItem  = Model._WorkflowItem_;
    var hasWorkflowItem = workflowItem!=null;
    var availableEdit = hasWorkflowItem || (!hasWorkflowItem && allowedEdit);
}
    @using(Html.BeginForm(ViewContext.RequestContext.AllRouteValues()["action"].ToString()
            , ViewContext.RequestContext.AllRouteValues()["controller"].ToString()
            , ViewContext.RequestContext.AllRouteValues()
            , FormMethod.Post, new RouteValueDictionary(new { enctype = "application/x-www-form-urlencoded" })))
{
    <table><tr>
            <th>
            <label for="Title">Ti&#234;u đề</label>
            </th>
            <td>
            <input class='long' id="Title" name="Title" type="text" value="@(Model.Title ?? "")" />            
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Title"], null)
            
            </td>          
            </tr><tr>
            <th>
            <label for="Thumbnail">Ảnh slide</label>
            </th>
            <td>
            <div id='Thumbnail_Container' class='mediafile'><input id="Thumbnail" name="Thumbnail" type="hidden" value="@(Model.Thumbnail ?? "")" data-bind="value: fieldValue"/>
            <ul class="clearfix" data-bind="foreach: data">
                <!-- ko if: isImage -->
                <li class="img">
                    <span class="preview"></span>
                    <a class="action" data-bind="click: $parent.removeItem">@Html.IconImage("minus small")</a>
                    <img data-bind="attr:{src:Url}" height="100" width="100">
                </li>
                <!-- /ko -->
                <!-- ko ifnot: isImage -->
                <li>
                    <span class="left" data-bind="{text:FileName}"></span>
                    <a class="action right" data-bind="click: $parent.removeItem">@Html.IconImage("minus small")</a>
                </li>
                <!-- /ko -->
            </ul>
                <script src="@Kooboo.CMS.Toolkit.Controls.ControlsScript.GetWebResourceUrl()" type="text/javascript" ></script>
                <a id='addMedia_Thumbnail' columnName='Thumbnail' href='@Url.Action("Selection", ViewContext.RequestContext.AllRouteValues().Merge("Controller", "MediaContent").Merge("FolderName", null).Merge("SingleChoice", "true"))"' class='action add'>@Html.IconImage("plus small")</a>
                <script type='text/javascript'>
                    $('#Thumbnail_Container').mediaControl({
                allowMultipleFiles: false,
                validation: /^.+\..+$/,
                validationErrorMessage: 'Please select a valid file',
                value: '@(Model.Thumbnail)'
                });
                </script>
            </div>            
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Thumbnail"], null)
            <em class='tip'>tỷ lệ ảnh 685x385</em>
            </td>          
            </tr><tr>
            <th>
            <label for="Link">Đường dẫn tới b&#224;i</label>
            </th>
            <td>
            <input class='long' id="Link" name="Link" type="text" value="@(Model.Link ?? "")" />            
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Link"], null)
            
            </td>          
            </tr><tr>
            <th>
            <label for="SortBy">Thứ tự</label>
            </th>
            <td>
            <input class='long' id="SortBy" name="SortBy" type="text" value="@(Model.SortBy ?? "")"  data-val-number="The field SortBy must be a number." data-val="true"/>            
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["SortBy"], null)
            
            </td>          
            </tr>
            @if (allowedEdit) {
                <tr>
            <th>
           
            </th>
            <td>
            <input id='Published' name="Published" type="checkbox" @(Convert.ToBoolean(Model.Published)?"checked":"") value="true"/>
                                    <input type="hidden" value="false" name="Published"/>
            <label class="inline" for="Published">Published</label>
            @Html.ValidationMessageForColumn(((ISchema)ViewData["Schema"])["Published"], null)
            </td>          
            </tr>
            }
    @Html.Action("Categories", ViewContext.RequestContext.AllRouteValues())
    </table>   
}