@if (Model != null)
{ 
<div>
	<h3 class="title" @ViewHelper.Edit(Model,"Name")>@Html.Raw(Model.Name ?? "")</h3>
	<div class="content">
		<div @ViewHelper.Edit(Model,"Url")>@Html.Raw(Model.Url ?? "")</div>
		<div @ViewHelper.Edit(Model,"SortBy")>@Html.Raw(Model.SortBy ?? "")</div>
		<div @ViewHelper.Edit(Model,"IsList")>@Html.Raw(Model.IsList ?? "")</div>
	</div>
</div>
}